.landing{
  background-image: url('../img/backgrounds/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.logo{
  text-align: center;
  font-size: 15px;
}
p{
  color:white;
}
.hour{
  background-color: grey;
}
.time{
  background-color: #D35400;
}
#breakfast{
  background-image: url('../img/fastfood/foodtop/breakfast.jpg');
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  float: left;
}
#lunch{
  background-image: url('../img/fastfood/foodtop/lunch.jpg');
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
#dinner{
  background-image: url('../img/fastfood/foodtop/dinner.jpg');
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.drinks{
  float:right;
}
.first{
  float: right;
}
.paragraph{
  text-align: left;
}
.container{
  background-image: url('../img/backgrounds/foodsBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 300px;
  padding-top: 20px;
}
.table{
  background-color: white;
  height: 70%;
  width:90%;
  margin: 80px;
  margin-top:10px;
}
nav li {
  float: right;
}

nav ul{
  overflow: hidden;
}

 nav a{
    display: inline-block;
  }

nav ul a{
  text-align: right;
}
 nav ,ul ,li ,a{
    text-decoration:none;
    color: black;
    list-style-type:none;
    padding:10px;
    background-color: grey;
    padding-top: 1px;
}
.sec{
  background-color: white;
  color: orange;
  text-align: left;
  height:50%;
  width:50%;
}
.btn{
cursor: pointer;
color: #FF0000;
}
.fastfood{
  padding: 20px;
}
#bord{
float:right;
}
.container-fluid{
margin-top: 1px;
}
.border{
  margin-top: 5px;
}
.container-menu{
  background-image: url('../img/backgrounds/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width:100%;
  margin-top:20px;
}
.container-footer{
  background-color: #FF5733;
  background-size: cover;
  height: 300px;
  width:100%;
}
.container-footer{
  text-align:center;
}
